* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
}
body{
    /* background-color: ; */
}
.wrapper {
    background-color: #1f2937;
    height: 500px;
    padding-top: 20px;
}

.section1{
    border: 2px solid red;
    /* margin: 20px; */
    /* height: 60px; */
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.section1 .left{
    display: flex;
    gap: 20px
    
}
.section1 .right{
    display: flex;
    /* justify-content: ; */
    gap: 30px;
    padding-right: 30px;
}

a{
    text-decoration: none;
    color: aliceblue;
}

/* Section 2 */
.section2{
    border: 2px solid yellow;
    margin: 20px;
    /* padding-left: 0px; */
    /* padding-right: 0px; */
    padding: 80px;
    min-height: 80%;
    display: flex;
    justify-content: space-around;
    align-content: center;
    /* gap: 30px; */
}

.section2 .left{
    border: 2px dotted green;
    /* margin-top: 60px; */
    width: 40%;
    height: 150px;
    /* display: flex; */
    padding: 20px 10px;
    /* justify-content: space-around; */
    align-items: center;
    color: aliceblue;
}

.section2 .right{
    border: 2px solid white;
    width: 40%;
    
    height: 150px;
}
