@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    color: aliceblue;
}



.header {
    display: block;
    background-color: #1f2937;
    height: 450px;

}
.navbar{
    display: flex;
    justify-content: space-between;
}
.right-side{
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
    width: 30%;
    font-size: 30px;
}

.left-side {
    display: flex;
    gap: 20px;
    justify-content: space-around;
    align-items: center;
    padding-left: 35px;
    margin: 20px;
}
.intro_main{
    margin: 40px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.content{
    width: 50%;
    flex-wrap: wrap;
}

.content button{
    background-color: #3882f6;
    width: 105px;
    height: 30px;
    border-radius: 10px;
    border: 0px solid #3882f6;
    color: aliceblue;
    margin: 0px 20px 20px;
}
h1{
    font-size: 48px;
}
.content p{
    font-size: 18px;
    text-align: start;
}

.img_container {
    width: 400px;
    height: 140px;
    border-radius: 10px;
    background-color: rgb(103, 112, 122);
    
}

a{
    text-decoration: none;
    color: aliceblue;
}
.left-side a{
    font-size: 18px;
}
.left-side a:hover, a.active{
    color: red;
    font-size: x-large;
    transition: .5s;
}
/* This is the second section */

.main2 {
    background-color: aliceblue;
    color: black;
    padding-top: 20px;
    height: 30%;
}
h2 {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
}
h2:hover{
    font-size: 40px;
    transition: .2s;
}

.main2 h2, p{
    text-align: center;
}
.main2_items{
    display: flex;
    justify-content: space-around;
    height: 300px;
}
.item{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    
}
.box{
    border-radius: 10px;
    border: 3px solid #3882f6;
    height: 120px;
    margin: 20px auto;
    width: 150px;
}
.place_holder{
    display: flex;
    justify-content: space-between;
    font-weight: 800;
}

/* This is the 3rd section */
.main3{
    background-color: #E5E7EB;
    min-height: 200px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.quote {
    padding: 30px;
    color: #1f2937;
    font-size: 30px;
    font-style: italic;
    font-weight: 300;

}
/* This is the 4th section */

.main4{
    width: 60%;
    margin: 20px auto;
    background-color: #3882f6;
    border-radius: 10px;
    display: flex;
    height: 100px;
    justify-content: space-evenly;
    align-items: center;
}

.main4 button{
    background-color: inherit;
    border: 2px solid #E5E7EB;
    color: #E5E7EB;
    width: 100px;
    height: 30px;
    border-radius: 20px;
}
button:hover{
    background-color: red;
}

/* footer */
footer{
    background-color: #1f2937;
    height: 50px;
    padding-top: 20px;
}